<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
      crossorigin="anonymous"
    />
    <title>SFEC</title>
  </head>
  <body>
    <div class="page-wrapper">
      <%= require('./../components/Header/header.html').default %>
      <div class="main-wrapper">
        <section class="top-banner-block">
          <div class="container"></div>
        </section>
      </div>
    </div>

    <%= require('./../components/Footer/footer.html').default %>
  </body>
</html>
